@font-face {
  font-family: DINBold;
  src: url('../fonts/DINBoldAlternate.otf');
}

@font-face {
  font-family: DINLight;
  src: url('../fonts/DINLightAlternate.otf');
}

@font-face {
  font-family: DINMedium;
  src: url('../fonts/DINMediumAlternate.otf');
}

@font-face {
  font-family: DINRegular;
  src: url('../fonts/DINRegularAlternate.otf');
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}
.page-content {
  font-family: 'DINLight';
  font-size: 16px;
  line-height: 1.42857143;
  color: black;
  padding: 0px 5% 0px 5%;
}

.navbar {
  padding: 20px 0px 60px 0px;
}

.navbar-item {
  font-family: 'DINRegular';
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  text-align: center;
  padding: 0px 32px 0px 0px;
  color: gray;
  text-decoration: none;
}

.navbar-item:hover {
  color: black;
  font-family: 'DINMedium';
}

.home-logo {
  float: right;
  font-family: 'DINBold';
  font-size: 28px;
  color:black;
  text-decoration: none;
  padding: 0px 0px 0px 32px;
}

.hero-shot-container {
  width: 400px;
  height: 300px;
  position: relative;
  color: white;
}

.hero-shot-image {
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
  z-index: 0;
}

.hero-shot-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  transition: background-color 0.2s, opacity 0.2s;
}

.hero-shot-title {
  font-family: DINBold;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 1001;
  color: black;
}

.hero-shot-background:hover {
  background-color: white;
  opacity: 0.9;
}

.hero-shot-background:hover > .hero-shot-title {
  opacity: 1;
}

.project-table td {
  vertical-align: top;
}

.project-header {
  position: sticky;
  top: 0px;
  z-index: 1001;
  padding: 20px 0px 0px 0px;
}

.link-top {
    float: right;
    text-decoration: none;
    color: blue;
}

.left {
  width: 50%;
  padding: 0px 70px 0px 0px;
}

.right {
  width: 50%;
  padding: 0px 0px 0px 70px;
}

.project-header-title {
    font-family: 'DINBold';
    font-size: 28px;
    display: block;
    padding: 0px 0px 5px 0px;
}

.project-content-header {
    font-family: 'DINBold';
    font-size: 28px;
    display: block;
    padding: 0px 0px 20px 0px;
}

.project-header-italic {
    display: block;
}

.project-content-subheader {
    font-family: 'DINBold';
    color: gray;
}

.project-content-p {
  display: block;
}

.project-table {
  border-collapse: separate;
  border-spacing: 0px 100px;
}
