@font-face {
  font-family: DINBold;
  src: url('../fonts/DINBoldAlternate.otf');
}

@font-face {
  font-family: DINLight;
  src: url('../fonts/DINLightAlternate.otf');  
}

@font-face {
  font-family: DINMedium;
  src: url('../fonts/DINMediumAlternate.otf');
}

@font-face {
  font-family: DINRegular;
  src: url('../fonts/DINRegularAlternate.otf');
}

.page-content {
  font-family: 'DINRegular', sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: black;
  width: 1400px;
  margin: auto;
}

h1 {
  font-family: 'DINRegular';
  font-size: 36px;
}

.navbar {
  padding: 20px 20px 100px 20px;
}

.navbar-item {
  font-family: 'DINRegular';
  font-size: 24px;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px 14px 16px;
  color: gray;
  text-decoration: none;
}

.navbar-item:hover {
  color: black;
  font-family: 'DINMedium';
}

.home-logo {
  float: right;
  font-family: 'DINBold';
  font-size: 28px;
  color:black;
  text-decoration: none;
  padding: 14px 16px 14px 16px;
}

.hero-shot-container {
  width: 400px;
  height: 300px;
  position: relative;
  color: white;
}

.hero-shot-image {
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
  z-index: 0;
}

.hero-shot-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  transition: background-color 0.2s, opacity 0.2s;
}

.hero-shot-title {
  font-family: DINBold;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 1001;
  color: black;
}

.hero-shot-background:hover {
  background-color: white;
  opacity: 0.9;
}

.hero-shot-background:hover > .hero-shot-title {
  opacity: 1;
}

.project-table td {
  vertical-align: top;
}

.project-header {
  padding: 5px 3px 5px 3px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1001;
  width: 100%;
  border-bottom: 2px gray solid;
}