@font-face {
  font-family: DINBold;
  src: url('../fonts/DINBoldAlternate.otf');
}

@font-face {
  font-family: DINLight;
  src: url('../fonts/DINLightAlternate.otf');  
}

@font-face {
  font-family: DINMedium;
  src: url('../fonts/DINMediumAlternate.otf');
}

@font-face {
  font-family: DINRegular;
  src: url('../fonts/DINRegularAlternate.otf');
}

.page-settings {
  font-family: 'DINLight', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: gray;
  background-color: #fff;
  width: 1200px;
  margin: auto;
}

ul {
  font-family: 'DINRegular';
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: gray;
  text-decoration: none;
}

li a:hover {
  color: black;
  font-family: 'DINMedium';
}

.hero-shot-container {
  width: 400px;
  height: 300px;
  position: relative;
  color: white;
}

.hero-shot-image {
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
  z-index: 0;
}

.hero-shot-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  transition: background-color 0.2s, opacity 0.2s;
}

.hero-shot-title {
  font-family: DINBold;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 1001;
  color: black;
}

.hero-shot-background:hover {
  background-color: white;
  opacity: 0.9;
}

.hero-shot-background:hover > .hero-shot-title {
  opacity: 1;
}